body {
  padding: 0;
  margin: 0;
}

span{
  color: #289bde;
}
.btn {
  background: #289bde;
  transition: 0.5s;
  border: 2px solid #289bde;
  color: white;
}
.btn:hover {
  background: none;
  border: 2px solid #289bde;
  color: #289bde;
  transition: 0.5s;
}

.nav-btn {
  background: none;
  border: 2px solid #289bde;
  color: #289bde;
  transition: 0.5s;
  
}
.nav-btn:hover {
  background: #289bde;
  transition: 0.5s;
  color: white!important;
}

/* carusel  */
.first-carousel-item {
  background-image: url(../images/cover/cover-1.png);
}
.carousel-item {
  height: 83vh;
  background-position: center-top;
  background-size: cover;
}
.second-carousel-item {
  background-image: url(../images/cover/cover-2.jpg);
}
.third-carousel-item {
  background-image: url(../images/cover/cover-3.jpg);
}
.carousel-overly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.course-item {
  height: 200px;
}
/* carusel  */

/* courses section  */
.course-price{
  color: #289bde;
}
/* courses section  */

/* register-section */
.register-section{
  background: #289bde;
}
.register-btn{
  color: #289bde;
}
/* register-section */

/* asked-questions  */
.asked-questions{
  width: 60%;
}
/* asked-questions  */